{% comment %}   
    Author(s): Aidan Vancil (A), Foster Schmidt (F)
    Date(s):   11/12/23 - 12/03/23
    
    Description:
    - (A + F) All inputs
{% endcomment %}

{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Virtual Graffiti</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" href="{% static 'site/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'site/favicon.ico' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% tailwind_css %}
</head>

<body 
    class="overflow-hidden bg-black"
>

<nav class="bg-black text-white p-2 w-full flex items-center justify-between">
    <div class="ml-[2.5%] flex">
        <div class="flex">
            <a href="/" class="space-x-5 flex items-center text-xl">
                <img src="{% static 'site/logo.png' %}" alt="" style="width: 10%;" class="">
                <div class="font-bold">Virtual Graffiti</div>
            </a>
        </div>
    </div>
</nav>

<main class="">
    {% block content %}{% endblock %}
</main>

</body>
</html>
